* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #57b8ff;
  --yellow: #fdd04a;
  --grey-df: #dfdfdfcc;
  --grey-99: #999999;
  --grey-22: #222730;
  --grey-55: #555555;
  --black-00: #000000;
  --regular: "Orbitron-Regular", sans-serif;
}

.button {
  padding: 16px 31px;
  font-family: var(--regular);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
  background-color: transparent;
}

.info-paragraph {
  font-family: var(--regular);
  font-weight: 400;
  font-size: 18px;
  color: var(--grey-99);
}

.title-heading {
  font-family: var(--regular);
  font-weight: 400;
  font-size: 16px;
  color: var(--blue);
  text-transform: uppercase;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9;
  outline: none;
  cursor: pointer;
  transition: 1s;
  width: 40px;
  height: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}